@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  font-family: 'Poppins', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: flex;
  gap: 1em;
}

.display {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 700px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: 0 auto;
}

.info-form {
  display: flex;
  flex-direction: column;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* input {
  background-color: rgba(255, 255, 255, 0.87);
  color: #000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2878ae;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/*
.display {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 700px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: 0 auto;
}

.general-info,
.education,
.work-experience {
  margin-bottom: 1em;
}

.general-info {
  background-color: #09416d;
  color: #fff;
}

.general-info__flex {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}

.name-row h2 {
  font-size: 2em;
  margin: 0;
}

.contact-row {
  font-size: 0.9em;
}

.education {
  display: flex;
  flex-direction: column;
}

.education-item,
.work-item {
  margin-bottom: 1em;
}

.education h2,
.work-experience h2 {
  margin-bottom: 0.5em;
}

.education-item h3,
.work-item h3 {
  margin: 0 0 0.5em;
  font-size: 1.2em;
}

.education-item p,
.work-item p {
  margin: 0.2em 0;
  font-size: 0.9em;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
